<%- include('header') -%>

<%- include('nav') -%>

<div class="page-content">
    <section id="featured" class="content-section">
        <div class="section-heading">

            <h1>CodeBlock<br><em>教師管理系統</em></h1>
            <p>幫助教師在使用本系統時,
                <br/>更方便的管理課堂中的學生</p>


        </div>
        <div class="logout" style="text-align: right;">
            <a href="/user/logout"><img src="\img\logout.png" width="4%" height="4%"></a>

        </div>
        <section id="class" class="content-section">
            <div class="container">
                <!-- <h2>Responsive Tables Using LI <small>Triggers on 767px</small></h2> -->
                <ul class="responsive-table">
                    <li class="table-header">
                        <div class="col col-1">PIN</div>
                        <div class="col col-2">學校</div>
                        <div class="col col-3">課程名稱</div>
                        <div class="col col-4">主題</div>
                        <div class="col col-5">上限人數</div>
                        <div class="col col-6">刪除</div>

                    </li>
                    <% if (items.length > 0) { %>
                    <% for(var i=0; i<items.length; i++) {%>
                    <li id="table_<%= i %>" class="table-row"
                        onclick="run_setInterval('<%= items[i].class_id %>', '<%= i %>' , '<%= items[i].name %>','<%= i %>');toggleMember('<%= i %>')">
                        <div class="col col-1" data-label="" onclick="playAudio('<%= items[i].class_id %>')">
                            <%= items[i].class_id %></div>
                        <div class="col col-2" data-label=""><%= items[i].school %></div>
                        <div class="col col-3" data-label=""><%= items[i].name %></div>
                        <div class="col col-4" data-label=""><%= items[i].topics %></div>
                        <div class="col col-5" data-label=""><%= items[i].max_number %></div>
                        <div class="col col-6">
                            <form action="/class/remove" method="post" name="delete_class" id="delete_class_<%= i %>">
                                <div class="form">


                                    <span class="value"><input type="text" name="class_id" style="display:none"
                                            value="<%= items[i].class_id %>"></span>
                                    <button class="deleteButton" name="delete" id="delete" type="button"
                                        onclick="check('<%= items[i].class_id %>','<%= i %>')">—</button>

                                </div>
                            </form>

                        </div>

                    </li>
                    <div class=bar id="bar_<%= i %>" style="display: none;">
                        <div class=test id="loading_<%= i %>">
                            <img src="\img\abc.gif">
                        </div>
                        <div class=test id="loading2_<%= i %>" style="display: none;">
                            <img src="\img\qwe.gif">
                        </div>
                        <div id="member_<%= i %>" class="tablebox" style="overflow-y:scroll" ;>
                            <table id="tableId" border="0" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th colspan="3">123
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <% } %>
                    <% } %>


                </ul>
            </div>


        </section>

        <div class="buttons">
            <div class="button_container">

                <div class="btn effect04" data-sm-link-text="CLICK" target="_blank" id="click"><span>增加班級</span>
                </div>
            </div>
        </div>


    </section>

    <section class="footer">
        <p>
            Copyright &copy; NTUB CodeBlock
        </p>
    </section>

</div>

<div id="survey" style="display: none;">
    <div class="ui-widget-overlay ui-front"></div>
    <div class="ui-front survey">
        <form action="class/add" method="post">
            <button id="close-button" onclick="closeSurvey()">
                <span class="cross"></span>
            </button>
            <h1>新增班級</h1>
            <fieldset>
                <h3>班級資料</h3>
                <input placeholder="Your school" type="text" name="school" tabindex="1" required autofocus>
                <input placeholder="Your class name" type="text" name="name" tabindex="2" required>
                <input placeholder="Max number" type="number" name="max_number" tabindex="3" required>
            </fieldset>

            <fieldset>
                <h3>選取關卡</h3>
                <div class="select-group">
                    <div class="select-group--left">
                        <input type="checkbox" id="checkall" onclick="checkAll()">
                        <span class="bracket"></span>
                    </div>
                    <div class="select-group--right">
                        <label><input type="checkbox" name="topics" value="T100" checked id="ap" onclick="alwayson();checkOne()"> 基礎 </label>
                        <label><input type="checkbox" name="topics" value="T101" onclick="checkOne()"> 機關 </label>
                        <label><input type="checkbox" name="topics" value="T102" onclick="checkOne()"> 迴圈 </label>
                        <label><input type="checkbox" name="topics" value="T103" onclick="checkOne()"> 條件式 </label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <button name="submitbtn" type="submit" id="contact-submit"
                    data-submit="...Sending" onclick="showLoading()">新增</button>
            </fieldset>
        </form>
    </div>
</div>

<div id="loading" style="display: none;">
    <div class="ui-widget-overlay ui-front"></div>
    <img src="\img\abc.gif">
</div>

<%- include('footer') -%>